$color: #912346;


* {
    margin: 0;
    padding: 0;
  }
  
  body {
    color: #000;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }

ul,
li {
   display: block;
   padding: 0;
   margin: 0;
}


/*navifgation*/
.header {
    padding: 20px 0;
    background: #000;
}

.menu-icon {
  display: none;
}

.menu__item {
  margin-left: 37px;
  a {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
  }
}

#toggle-btn {
  display: none;
}

/*main info*/

.main-info {
  background: url(/img/atlas-continent-country-269850.jpg) no-repeat center;
  background-size: cover;
  padding: 40px;
  .row {
    margin: 0 auto;
    padding: 40px 40px;
    margin-bottom: 35px;
    background-color: rgba(0,0,0,0.61);
    color: #fff;
    h2 {
      font-size: 60px;
    }
    p {
      font-size: 20px;
    }
    ul li a {
      text-decoration: none;
      &:hover {
        color: #fff;
      }
    }
  }
  iframe {
    width: 100%;
  }
}

/*About event*/
.about-event {
  margin: 50px 0;
}

/*features*/
.features-title {
  text-align: center;
  margin-bottom: 30px;
  color: $color;
  line-height: 24px;
  font-weight: 700;
}

.features  {
  text-align: center;
}

.button-me {
  text-align: center;
    a {
      text-decoration: none;
      color: #FFFFFF;
      &:hover {
        background-color: #711431;
      }
    }
}

.footer {
  background: #000;
  color: #fff;
  padding-top: 20px;
  margin-top: 50px;
}

.button {
  font: inherit;
  display: inline-block;
  padding: 10px 30px;
  margin-right: 15px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #912346;
  border: none;
  cursor: pointer;
}
.button:hover, .button:focus, .button:active {
  background-color: #711431;
}

#toTop {
  z-index: 999;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 20px;
  border-radius: 3px;
  background: rgb(161, 117, 117);
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 18px;
  right: 18px;
  display: none;
  color: $color;
  cursor: pointer;
}

/*slider*/
.slider {
  margin-top: 100px;
}
.main-content {
  background-color: #fff;
  margin-top: 55px;
  &__title {
      text-transform: uppercase;
      font-size: 30px;
      color: $color;
      
  }
  &__image {
      max-height: 160px;
      max-width: 270px;
      border-radius: 5px;
  }
}

.multiple-items {
  margin-top: 20px;
  margin-bottom: 30px;
}

.dots-style {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  button {
      background-color: transparent;
      border-radius: 50%;
      border-color: $color;
      font-size: 0; 
      height: 15px;
      width: 15px;
      list-style: none;
      margin-left: 15px;
      background-origin: border-box;
      margin-bottom: 50px;
  }
  li {
      list-style: none;
  }
  li[class="slick-active"] button {
      background:$color;
      border: none;
      width: 10px;
      height: 10px;
  }
}


/*login form*/


/*registration*/
.registration {
  margin-top: 100px;
  .regbar {
    width: 100%;
  }
  p {
    margin-bottom: 10px;
  }
  input {
    margin-bottom: 30px;
  }
  .fio {
    width: 48%;
  }
  .mail {
    width: 80%;
  }
  .subm{
    text-align: center;
    margin-top: 30px;
  }
  .button {
    margin-top: 30px;
  }
}

/*lk*/
.lk {
  margin: 150px 0;
    li {
      margin: 10px 0;
        a {
          text-decoration: none;
          color: $color;
        }
    }
}

.button_lk {
  border-radius: 15px;
  font-size: 15px;
}

.personal {
  margin-left: 300px;
}


/*login form*/

.body {
  background: url(/img/IMG_7616.jpg) no-repeat center;
  background-size: cover;
}
.login-form {

  width: 100%;
  
  .container{
    padding-top: 50px;
    width:450px;
    height: 400px;
    background-color: rgba(24, 33, 52, 0.7);
    margin: 100px auto 0 auto;
    text-align: center;

    input[type="text"],input[type="password"]{
      width: 300px;
      height:50px;
      font-size: 18px;
      margin-bottom: 25px;
      border-radius: 4px;
      padding-left: 40px;
     }
     .dws-input::before{
      font-family: "FontAwesome";
      content: "\f007";
      position: absolute;
      font-size: 30px;
      padding: 10px 0 0 7px;
      color: $color;
     }    
     .dws-input:nth-child(2)::before{
      content: "\f023";
      } 
      .dws-input:hover::before{
        color: #88334e;
        transition: all 0.3s;
    }   
    .dws-input input:hover{
      box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
     }      
     .dws-submit {
      padding: 13px 30px;
      margin: 5px 0 20px 0;
      font-size: 15px;
      color: #fff;
      background-color: $color;
      border: none;
      
      cursor: pointer;
       &:hover{
        transition: all 0.5s;
        background: #88334e;
        color: #fff;
       }    
     }        
   }   
  
}

/*scheme*/

.scheme {
  margin-top: 50px;
  background: url(/img/IMG_3748.jpg) no-repeat center;
  background-size: cover;
  margin-bottom: -50px;
  margin-top: 0px;
.row {
  background-color: rgba(0, 0, 0, 0.726);
  padding: 30px 30px;
  border-radius: 20px;
  
}

  .links {
    margin-top: 50px;
    margin-left: 225px;
    &__text {
      color: #fff;
    }
    a {
      padding: 2px 0;
    }
  }
  .modallinks {
    
    text-decoration: none;
    color: #fff;
    &:hover {
      color: $color;
    }
  }
 
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

/*directions */
.directions {
  margin-top: 40px;
  h3 {
    font-size: 40px;
    color: $color;
  }
}